<h3>{{name}}</h3>
<a href="{{ url }}">{{ url }}</a>

<h4>{{location.name}}</h4>
<a href="{{ location.url }}">{{ location.url }}</a>
<p>{{ location.address.streetAddress }}</p>

{{#if stub}}
<button class="start">START</button>
{{else}}
<h5> participants ({{attendee.length}})</h5>
{{#if current}}
<button class="leave">LEAVE</button>
{{else}}
<button class="join">JOIN</button>
{{/if}}
<ul>
  {{#each attendee}}
  <li>
    <img src="{{ this.image }}" title="{{ this.email }}" />
  </li>
  {{/each}}
</ul>
{{/if}}
